
.content{
max-width: 400px;
padding: 20px;
background: violet;
text-align: center;
box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
}
.content header{
padding-top: 5px;
font-size: 35px;
font-weight:600;
line-height: 33px;
}
.content form
{
margin: 30px 27px;
}

.content form .field{
width: 100%;
height: 50px;
display: flex;
position: relative;
}

form .field input{
 width: 100%;
height: 100%;
border: 1px solid lightgrey;
border-radius: 5px;
padding-right: 15px;
font-size: 18px;
outline: none;
}

form .field .icons{
position: absolute;
right: 15px;
top: 50%;
transform: translateY(-50%);
}

.field .icons span{
height: 19px;
width: 19px;
border: 2px solid;
border-radius: 50%;
line-height: 25px;
display: none;
}

.field .icons span.icon1{
color: red;
border-color: red;
}

.field .icons span.icon2{
color: green;
border-color:green;
}

form .error-text{
position: relative;
margin: 15px 0 -5px 0;
background: red;
color: white;
font-size: 18px;
padding: 5px;
border-radius: 5px;
display: none;
}

form .error-text:before{
position: absolute;
content: '';
height: 15px;
width: 15px;
background: red;
right: 20px;
top: -7px;
transform: rotate(45deg);
}

form button{
margin-top: 10px;
width: 100%;
height: 40px;
border: none;
outline: none;
border-radius: 5px;
background: seagreen;
color: white;
font-size: 18px;
font-weight: 500;
letter-spacing: 1px;
cursor: pointer;
display: none;
}
.slide-left {
    width: 100%;
    overflow: hidden;
  }
  
  .slide-left p {
    animation: slide-left 20s;
    animation-iteration-count: infinite;
    font-size: 54px;
    color:gold;
  }
  
  @keyframes slide-left {
    from {
        margin-left: 100%;
        width: 300%;
    }
  
    to {
        margin-left: 0%;
        width: 100%;
    }
  }
  .topnav {
    overflow: hidden;
    background-color: rgb(245, 235, 236);
  }
  
  .topnav a:hover {
    background-color: blue;
    color: black;
  }
  .header {
    background-color: #4267B2;
    padding: 30px;
    text-align: center;
  }
  
  .header h1 {
    color: black;
    font-size: 40px;
    text-align: center;
  }
  
  .header p2 {
    word-spacing: 0.5em;
    color: black;
  }  