body {
  background-image: url("../images/loginpg.jpg");
  background-size: 100%;
  color: black;
  font-family: times of norms;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3px;
  margin: 0px;
}

.text {
  color: black;
}

.container {
  background-color: lightblue;
  border: 5px solid;
  border-style: line;
  padding: 30px;
  width: 800px;
  border-radius: 10px;
}

button {
  width: 100%;
  background-color: #123C69;
  border-radius: 20px;
  font-size: 30px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.header {
  background-color: #4267B2;
  padding: 30px;
  text-align: center;
}

.header h1 {
  color: black;
  font-size: 40px;
  text-align: center;
}

.header p2 {
  word-spacing: 0.5em;
  color: black;
}

p1 {
  color: red;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=text] {
  width: 100%;
  margin: 20px;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid green;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  margin: 20px;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid green;
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: rgb(245, 235, 236);
}

.topnav a:hover {
  background-color: blue;
  color: black;
}

@keyframes example {
  from {
    background-color: black;
  }

  to {
    background-color: hotpink;
  }
}

.box {
  background-color: pink;
  margin: 10px 20px;
  padding: 10px 20px;

}

.slide-left {
  width: 100%;
  overflow: hidden;
}

.slide-left p {
  animation: slide-left 20s;
  animation-iteration-count: infinite;
}

@keyframes slide-left {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}